# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Entornos virtuales
venv/
env/
ENV/

# Configuración de IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Variables y secretos
.env
